@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
}
.marginBottom {
  margin-bottom: 0.9rem;
}
.date {
  display: flex;
  flex-direction: row;
}
.width {
  width: 50%;
  border: 2px solid black;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 6px;
}
.item {
  background-color: #d99bcc;
  width: 20%;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 4px;
}
.content {
  background-color: #9bccd9;
  width: 20%;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  overflow-x: hidden;
}
